!!!
!!! XML
%html

  %head
    %title My App
    = stylesheet_link_tag    *%w( screen )
    = javascript_include_tag *%w( jquery-1.3.2.min application )

  %body
    #container

      - flash.each do |type, message|
        .flash{ :class => type.to_s }= message

      %ul.user
        - if logged_in?
          %li== Logged in as #{ current_user.send(User.login_field) }
          %li= link_to_unless_current 'Logout', logout_path
        - else
          %li Welcome, Guest!
          %li
            = link_to_unless_current 'Register', register_path
            |
            = link_to_unless_current 'Login', login_path

      %ul.nav
        %li= link_to_unless_current 'Home', root_path

      #content= yield
